{% extends 'base.html.twig' %}

{% block title %}Avis index
{% endblock %}

{% block body %}
	<h1>Avis
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Rate</th>
				<th>DescriptionAvis</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for avi in avis %}
				<tr>
					<td>{{ avi.rate }}</td>
					<td>{{ avi.descriptionAvis }}</td>
					<td>
						<a href="{{ path('admin_avis_show', {'idAvis': avi.idAvis}) }}">show</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
